;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [org.clojure.data.json]

 :builds
 {:app {:target :npm-module
        :output-dir "./output/main.js"
        :main acode-plugin.main/main}}}